@import "custom/styles";
@import "compass";

@import "base";
@import "parts";
@import "plugins";

@import "custom/colors";
@import "greyshade";

@import "custom/fonts";
@import "custom/layout";


@media screen and (max-width: 700px){
  table{
    td.gutter{
      display: none;
      width: 0px;
    }
    figure.code td.code{
      padding-left: 0px;
    }

  }
}
